
/* MAIN PAGE */
  .flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .button-placement {
    left: 0px;

  }

  h3 {
    text-align: center;
  }

/* PROJECTS */  
  .row {
    flex-direction: row;
  }
  
/* ABOUT ME */  
  .flex-contain {
    max-width: 515px;
    margin: auto;
    border: 20px solid #73AD21;
    position: fixed;
    top: 50px;
    left: 20px;
    text-align: center;
  }

  .text {
    position: absolute;
    top: 50px;
    width: 40%;
    left: 650px;
    text-align: justify;
    font-size: 18px;
  }
  
  .bootcamp-list {
    text-align: left;
    width: 100%;


  }


/* CONTACT */
  .contact-layout {
    position: relative;
    width: 429px;
    left: 500px;
    right: 400px;
    height: 80px;
    border: 20px solid #73AD21;
   
   
   
    /* justify-content: center;
    text-align: center;
    align-items: center;*/
}

/*  div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
}
*/
  .contact-text {
    position: absolute;
    top: 250px;
    left: 400px;
    width: 200px;
    height: 300px;
    text-align: center;
    border: 3px solid #73AD21;
}

p-3 bg-secondary text-white