
/* MAIN PAGE */
  .flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .button-placement {
    left: 0px;
  }

  h3 {
    text-align: center;
  }
  .picture {
    border-radius: 10%;

  }

/* PROJECTS */  
  .flex-container-row {
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
  }

  
/* ABOUT ME */  
  .flex-contain {
    max-width: 515px;
    margin: auto;
    border: 20px solid #73AD21;
    position: fixed;
    top: 50px;
    left: 20px;
    text-align: center;
  }

  .text {
    position: absolute;
    top: 50px;
    width: 40%;
    left: 650px;
    text-align: justify;
    font-size: 18px;
  }
  
  .bootcamp-list {
    text-align: left;
    width: 100%;
  }


/* CONTACT */
  .contact-layout {
    position: relative;
    width: 429px;
    left: 610px;
    right: 200px;
    height: 80px;
    border: 20px solid #73AD21;
}


  .contact-text {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 50%;
    height: 330px;
    text-align: center;
    border: 3px solid #73AD21;
}
