/* .flex-container {
    display: flex;
    height: 200px;
    align-items: center;
  } */

  .flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .row {
    flex-direction: row;
  }
  
  .flex-contain {
    max-width: 515px;
    margin: auto;
    border: 20px solid #73AD21;
    position: fixed;
    top: 50px;
    left: 20px;
  }

  .text {
    position: absolute;
    top: 20%;
    width: 20%;
    left: 555px;
    text-align: justify;
    font-size: 18px;
  }
  